body {
	padding: 0;
	margin:0 auto;
    background-color: #323233;
}

.Wrapper {
	margin:0 auto;
	padding: 5px;
	width:900px;
	padding-bottom:15px;
	background: dimgrey;
	border: 1px solid dimgrey;
	color:white;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 0px 0px 5px 5px; 
	margin-top: 4px;
	position:static;
	margin-bottom: 10px;
}

.Header {
    /*border: 1px solid dimgrey;*/
    width: 900px;
    height: 80px;
    margin-bottom: 10px;
}

.Menu {
    border: 1px solid dimgrey;
    background-color: #585858 ;
    width: 890px;
    height: 23px;
    margin-bottom: 5px;
    padding-top: 4px;
    padding-left: 10px;
}

.LeftContent {
    border: 1px solid #323233;
    background-color: #585858 ;
    float: left;
    width: 585px;
    padding: 5px;
}

.InnerLeftContent {
    border: 1px solid #323233;
    float: left;
}

.InnerRightContent {
    border: 1px solid #323233;
    float: right;
}

.RightContent {
    border: 1px solid #323233;
    background-color: #585858 ;
    float: right;
    width: 288px;
    padding: 5px;
    margin-left: 3px;
}

.Footer {
    margin-top: 5px;
    border-top: 1px solid #323233;
    padding: 5px;
    width: 890px;
    height: 15px;
    font-size: 13px;
}

.ParentContent {
    overflow: hidden;
}

.Links {
    color:white;
	text-decoration: none;
}

.Links:hover {
    color:white;
	text-decoration: underline;
}



















